html {
  /*background-color: #001b5b;*/
  background-image: url(../images/blackThin.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
  margin-top: 0 !important;
}
#nav-bar .navbar-inner {
  background: rgba(255, 255, 255, 0.239216);
  border: none;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  -o-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  padding-left: 20px;
  padding-right: 20px;
}
#nav-bar .brand {
  text-shadow: none;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
#nav-bar .nav li a {
  text-shadow: none;
  color: #ffffff;
  line-height: 22px;
}
#hero-container {
  padding: 35px 0px 60px 0px;
}
#title {
  background: transparent;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.129412);
  font-family:"raleway";
  font-size: 100px;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
}
#subtitle {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.168627);
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #f0f0f0;
  padding: 10px 0px 0px 0px;
}



/* Need to update this whole #signup-form to be more fluid with different sized names */
#signup-form {
  background: rgba(255, 255, 255, 0.219608);
  border-radius: 3px;
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  -o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  margin-bottom: 0px;
  height: 36px;
  width: 253px;
}
#signup-form .input-large {
  background: rgba(255, 255, 255, 0);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  font-family:"raleway";
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  line-height: 25px;
  border-radius: 0px;
  border: 1px solid rgba(18, 103, 155, 0);
  height: 42px;
}
#hero-container .well {
  border-radius: 20px;
  border: 1px solid #ffffff;
  margin-top: 20px;
  background: #12679b url(../images/source.png) repeat 0px 0px;
  background-size: cover;
  height: 214px;
  width: 214px;
}
.container-fluid .well.well-1 {
  border-radius: 10px;
  height: 505px;
  width: 280px;
}
.container-fluid .well.well-1 .heading {
  text-align: center;
  font-family:"droid sans";
}
.container-fluid .well.well-1 form .pull-center.pull-center-1 {
  width: 200px;
}
.container-fluid .well.well-1 form span.span-1 {
  opacity: 1;
  left: 248px;
  width: 19px;
  min-width: 19px;
  height: 13px;
  position: absolute;
  background-image: url(data:image/png;
 border: none;
  display: inline;
  visibility: visible;
  z-index: auto;
  background-position: 0px 0px;
  background-repeat: no-repeat no-repeat;
}
.container-fluid .well.well-1 form span.span-2 {
  top: 705.5px;
}
.container-fluid .well.well-1 form .span-1.span-3 {
  top: 785.5px;
}
.container-fluid .well.well-1 .form-actions {
  border-radius: 5px;
  border-top: none;
  border-left: 1px solid rgba(51, 51, 51, 0);
}

#bigName {
  background: transparent;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.129412);
  font-family:"raleway";
  font-size: 100px;
  text-align: center;
  color: #ffffff;
  margin-top: 0px;
}
